*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #1565c0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80vmin;
  padding: 50px 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.stats {
  text-align: right;
  font-size: 18px;
  margin-bottom: 30px;
}

.stats span {
  font-weight: 600;
}

#quote {
  text-align: justify;
  margin: 50px 0 30px;
}

textarea {
  resize: none;
  width: 100%;
  border-radius: 5px;
  padding: 10px 5px;
  height: 120px;
  font-size: 16px;
}

button {
  cursor: pointer;
  float: right;
  margin-top: 20px;
  background: #1565c0;
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 18px;
}

.result {
  margin-top: 40px;
  display: none;
}

.result h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}

.wrapper span {
  font-weight: 600;
}

.success {
  color: #44b267;
}

.fail {
  color: #e81c4e;
}
